.containerschedules {
  display: flex;
  flex-direction: column;
  height: 100%; /* sets the height of the container to the full height of the viewport */
  width: 100%; 
}


.rowschedule {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 5px;
  width: auto;
}


.rowscheduleNotes {
  margin-top: 10px;
}
