.toolbardiv
{
    background-color: rgb(73, 71, 71);
    padding: 0%;
    margin: 0;
    height: 40px;
}
.customHeaderLabel {
    float: left;    
    font-weight: 600;
    font-size: large;
    color: black;    
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .toolbarbuttontrue
  {
    float: right; 
    margin-top: 5px;
    margin-right: 10px;

  }
  .toolbarbuttonfalse
  {
   visibility: collapse;
  }